@import "tailwindcss";

/* Add Dark Mode variant */
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@utility transition-theme {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow, transform, translate, scale;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

:root {
    --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
        Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
}